{% extends "base-layout.html" %}
{% import "wtforms.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Users{% endblock title %}

{% block content %}
<!-- Section: Blog v.3 -->
<section class="pt-10">
    <div class="row">
        {% for user in users %}
        <div class="col-md-4 mb-4">
            <!-- Card Narrower -->
            <div class="card card-cascade narrower">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="{{ user.gravatar(size=300) }}"
                         alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                    <!-- Title -->
                    <h4 class="card-title">
                        <a href="{{ url_for('blog.user_posts', username=user.username) }}">
                            <strong>{{ '%s %s' % (user.first_name, user.last_name) }}</strong>
                        </a>
                    </h4>
                    <!-- Subtitle -->
                    <h6 class="font-weight-bold indigo-text">Last Seen {{ moment(user.member_since).format('DD/MM/YYYY, HH:mm:ss') }}</h6>
                    {% if user.deleted_at %}
                        <h6 class="font-weight-bold red-text pb-2 pt-1"> Deleted at {{ moment(user.deleted_at).format('DD/MM/YYYY, HH:mm:ss') }}</h6>
                    {% endif %}
                    <!-- Text -->
                    <p class="card-text">{% if user.about_me is not none %} {{ user.about_me|truncate(100) | safe }} {%
                        else %} ---- {% endif %}</p>

                </div>

                {% if current_user.is_administrator() %}
                <!-- Card footer -->
                <div class="card-footer text-muted text-center">
                    <div class="d-flex">
                        <div>
                            <a href="{{ url_for('auth.edit_user', identifier=user.id) }}"
                               class="btn btn-success btn-rounded btn-sm px-3 waves-effect waves-light">
                                <i class="fas fa-edit pr-2"></i> Edit
                            </a>
                        </div>
                        <div class="ml-auto">
                            {{ macros.delete_form( 'auth.undelete_user' if user.deleted_at else 'auth.delete_user', identifier=user.id, button_name='un delete' if user.deleted_at else 'delete' ) }}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            <!-- Card Narrower -->
        </div>
        {% else %}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Oops!</h4>
                <p>No result found.</p>
                <hr>
                <p class="mb-0">If you notice this notice you will notice this notice is not worth noticing.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {{ macros.pagination_widget(paginator, 'auth.index_users') }}
</section>
<!-- Section: Blog v.3 -->
{% endblock content %}


