{% extends "base-layout.html" %}
{% import "wtforms.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content -%}
<!--Grid row-->
<div class="pt-10 pb-5 center-row">
    <!--Grid column-->
    <div class="col-md-12 px-lg-5">
        <!--Card-->
        <div class="card pb-5 mx-md-3">

            <div class="card-body">

                <div class="container">

                    <!--Section heading-->
                    <h1 class="text-center h1 pt-4 mb-3">
                        <strong>{{ post.title }}</strong>
                    </h1>

                    <!--Grid row-->
                    <div class="row pt-lg-5 pt-3">
                        <div class="col-md-12 my-4 center-row">
                            <img src="{{ render_uploaded_file_url(filename=post.image_filename) }}"
                                 class="img-fluid z-depth-1 rounded-0" alt="sample image">
                        </div>
                        <!--Grid column-->
                        <div class="col-md-12 col-xl-12 pt-5">

                            <p class="dark-grey-text article">{{ post.body }}</p>

                            <hr class="mt-5">

                            <!-- Grid column -->
                            <div class="col-lg-12 d-md-flex">
                                <div class="avatar mb-md-0 mb-4 mx-4">
                                    <img src="{{ post.author.gravatar(size=100) }}"
                                         class="rounded rounded-circle z-depth-1" alt="Sample avatar">
                                </div>
                                <div class="mx-4">
                                    <h4 class="font-weight-bold mb-3">By {{ post.author.full_name() }}</h4>
                                    <h6 class="font-weight-bold grey-text mb-3"> In {{ moment(post.timestamp).fromNow() }}</h6>
                                    <p class="grey-text">{{ post.author.about_me|truncate(200) }}</p>
                                    <!-- Read more button -->
                                    <a href="{{ url_for('auth.profile', username=post.author.username) }}" class="btn btn-transparent btn-sm font-weight-bold btn-rounded dark-grey-text waves-effect waves-light">Read more</a>

                                </div>
                            </div>
                            <!-- Grid column -->

                            <hr class="mt-3">

                            <!--Comments-->
                            <section>

                                <!--Main wrapper-->
                                <div class="comments-list text-center text-md-left">
                                    <div class="text-center my-5">
                                        <h3 class="font-weight-bold">Comments
                                        </h3>
                                    </div>

                                    {% for comment in post.comments if (current_user.can(Permission.ADMIN) or current_user.can(Permission.MODERATE)) or ( not current_user.can(Permission.ADMIN) and not current_user.can(Permission.MODERATE) and not comment.disabled) %}
                                    <!--First row-->
                                    <div class="row mb-5">
                                        <!--Image column-->
                                        <div class="col-sm-2 col-12 mb-3">
                                            <img src="{{ comment.author.gravatar(size=150) }}" class="avatar rounded-circle z-depth-1-half" alt="sample image">
                                        </div>
                                        <!--/.Image column-->

                                        <!--Content column-->
                                        <div class="col-sm-10 col-12">
                                            <a>
                                                <h5 class="user-name font-weight-bold">{{ comment.author.full_name() }}</h5>
                                            </a>
                                            <div class="card-data">
                                                <ul class="list-unstyled">
                                                    <li class="comment-date font-small">
                                                        <i class="far fa-clock-o"></i> Last Seen {{ moment(comment.author.last_seen).fromNow() }}
                                                    </li>
                                                </ul>
                                            </div>

                                            <p class="dark-grey-text article">{{ comment.body }}  {% if comment.disabled %}<span class="badge badge-pill text-sm badge-danger text-monospace">Disabled</span>{% endif %}</p>


                                            {% if current_user.can(Permission.ADMIN) or current_user.can(Permission.MODERATE) %}
                                                <a href="{{ url_for('blog.edit_comment', identifier=comment.id) }}" class="btn btn-success btn-sm font-weight-bold btn-rounded waves-effect waves-light">Edit comment</a>
                                                {{ macros.delete_form( 'blog.enable_comment' if comment.disabled else 'blog.disable_comment', identifier=comment.id, button_name='Enable comment' if comment.disabled else 'Disable comment', msg='Are you sure you want to disable this comment ?' ) }}

                                            {% endif %}

                                        </div>
                                        <!--/.Content column-->
                                    </div>
                                    <!--/.First row-->
                                    {% endfor %}

                                    {{ macros.pagination_widget(paginator, 'blog.show_post', identifier=post.id) }}
                                </div>
                                <!--/.Main wrapper-->

                            </section>

                            {% if current_user.can(Permission.COMMENT) %}
                                <!--/Comments-->
                                <hr id="js-comment-section">
                                <!--Section: Leave a reply (Not Logged In User)-->
                                <section class="mb-4 wow fadeIn" data-wow-delay="0.2s">
                                    <h3 class="font-weight-bold text-center my-5">Leave a reply</h3>
                                    {{ wtf.form_start(form) }}
                                    {{ wtf.form_field(form.body) }}
                                    {{ wtf.form_field(form.submit, field_class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0") }}
                                    {{ wtf.form_end() }}
                                </section>
                                <!--/Section: Leave a reply (Not Logged In User)-->
                            {% endif %}

                        </div>
                        <!--/Grid column-->

                    </div>
                    <!--/Grid row-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!--/Card-->
    </div>
    <!--/Grid column-->
</div>
<!--/Grid row-->
{% endblock content %}