{% extends "base-layout.html" %}
{% import "_macros.html" as macros %}

{% block content %}

<div class="row pt-4">
    {% for room in rooms -%}
    <!--  Grid column  -->
    <div class="col-lg-4 col-md-6 mb-4">

        <!-- Card -->
        <div class="pricing-card card">

            <!-- Pricing card -->
            <div class="text-center pricing-card d-flex align-items-center rgba-info-strong pt-2 rounded">
                <!-- Content -->
                <div class="card-body">
                    <h5 class="font-weight-bold"><i class="fas fa-home"></i> {{ room.name|capitalize }}</h5>
                    <hr>
                    <p><strong>{{ room.online_users()|length }}</strong> Offline Users</p>
                    <hr>
                    <p><strong>{{ room.offline_users()|length }}</strong> Online Users</p>
                    <hr>
                    <a href="{{ url_for('socket.show_room', room_id=room.id) }}" class="btn btn-info btn-rounded btn-sm px-3 waves-effect waves-light"> Enter the room </a>
                    {{ macros.delete_form('socket.delete_room', room_id=room.id) }}
                </div>
                <!-- Content -->

            </div>
            <!-- Pricing card -->

        </div>
        <!-- Card -->
    </div>
    <!-- Grid column -->
    {% else %}
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Oops!</h4>
            <p>No result found.</p>
            <hr>
            <p class="mb-0">If you notice this notice you will notice this notice is not worth noticing.</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

