{% extends "base-layout.html" %}
{% import "wtforms.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Blog{% endblock title %}

{% block content %}
<!-- Section: Blog v.3 -->
<section class="pt-10 row">
    {% for post in posts %}
    <div class="col-sm-4 mb-4">
        <!-- Card -->
        <div class="card promoting-card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top post-img rounded-0"
                     src="{% if post.image_filename %}{{ render_uploaded_file_url(filename=post.image_filename, height=250) }}{% else %}{{url_for('static', filename='img/no-image-icon.png')}}{% endif %}" alt="Card image cap">
                <a href="{{ url_for('blog.show_post', identifier=post.id) }}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Button -->
            <a  href="{{ url_for('blog.show_post', identifier=post.id) }}" class="btn-floating btn-action ml-auto mr-4 mdb-color red-text lighten-3"><i
                    class="fas fa-chevron-right pl-1"></i></a>

            <!-- Card content -->
            <div class="card-body">

                <div class="collapse-content pt-3">

                    <!-- Title -->
                    <h4 class="card-title font-weight-bold mb-2">{{ post.title|truncate(40) }}</h4>

                    <!-- Text -->
                    <p class="card-text collapse" id="js-read-more-{{ post.id }}">{{ post.body|truncate(300) }}</p>
                    <!-- Button -->
                    <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse"
                       href="#js-read-more-{{ post.id }}" aria-expanded="false" aria-controls="collapseContent"></a>

                </div>


                    <!-- Subtitle -->
                    <p class="card-text pt-1 pb-0 mb-0">
                        <i class="far fa-user pr-2"></i> By <a
                            href="{{ url_for('auth.profile', username=post.author.username) }}"
                            class="font-weight-bold">{{ post.author.full_name() }}</a></p>
                    <p class="card-text"><i class="far fa-clock pr-2"></i> In {{ moment(post.timestamp).fromNow() }}</p>

            </div>

            {% if post.is_author(current_user) or current_user.is_administrator() %}
            <!-- Card footer -->
            <div class="card-footer text-muted text-center">
                    <div class="d-flex">
                        <div>
                            <a href="{{ url_for('blog.edit_post', identifier=post.id) }}"
                               class="btn btn-success btn-rounded btn-sm px-3 waves-effect waves-light">
                                <i class="fas fa-edit pr-2"></i> Edit
                            </a>
                        </div>
                        <div class="ml-auto">
                            {{ macros.delete_form('blog.delete_post', identifier=post.id) }}
                        </div>
                    </div>
            </div>
            {% endif %}

        </div>
        <!-- Card -->
    </div>
    {% endfor %}

    <div class="col-12">
        {{ macros.pagination_widget(paginator, 'blog.index_posts') }}
    </div>
</section>
<!-- Section: Blog v.3 -->
{% endblock content %}
