{% macro form_errors(form, hiddens=True) %}
    {%- if form.errors %}
        {%- for fieldname, errors in form.errors.items() %}
            {%- for error in errors %}
                <div class="invalid-feedback">
                    {{error}}
                </div>
            {%- endfor %}
        {%- endfor %}
    {%- endif %}
{%- endmacro %}

{%- macro _form_wrap(extra_classes="", group_class="md-form", required=False) %}
    <div class="{{ group_class }} {{ extra_classes }} {% if required %} required{% endif %}">{{caller()}}</div>
{%- endmacro %}

{%- macro form_start(form, action=None, method="POST", extra_classes="", role="form", enctype=None, id=none, novalidate=True) %}
    {%- set _enctype = [] %}
    {%- if enctype is none -%}
        {%- for field in form if field.type == 'FileField' %}
            {%- set _ = _enctype.append('multipart/form-data') -%}
        {%- endfor %}
    {% else %}
        {% set _ = _enctype.append(enctype) %}
    {%- endif %}
    <form
            {%- if action != None %} action="{{action}}"{% endif -%}
            {%- if id %} id="{{id}}"{% endif -%}
            {%- if method %} method="{{method}}"{% endif %}
            class="needs-validation {%- if extra_classes %} {{extra_classes}}{% endif -%}"
            {%- if _enctype[0] %} enctype="{{ _enctype[0] }}"{% endif -%}
            {%- if role %} role="{{role}}"{% endif -%}
            {%- if novalidate %} novalidate{% endif -%}
    >

    {{ form.hidden_tag() }}
    {{ form_errors(form, hiddens='only') }}
{%- endmacro %}

{%- macro form_end() %}
    </form>
{%- endmacro %}

{%- macro form_field(field, group_extra_classes="", field_class="", label_class="") %}

    {# this is a workaround hack for the more straightforward-code of just passing required=required parameter. older versions of wtforms do not have
    the necessary fix for required=False attributes, but will also not set the required flag in the first place. we skirt the issue using the code below #}

    {% if field.flags.required and not required in kwargs %}
        {% set kwargs = dict(required=True, **kwargs) %}
    {% endif %}

    {% if field.widget.input_type == 'checkbox' %}
        {% call _form_wrap(extra_classes=group_extra_classes, group_class="form-group") %}
            <div class="form-check p-0">
                {{ field(class="form-check-input %s" % label_class)|safe }}
                {{ field.label(class="form-check-label %s" % field_class)|safe }}
                {{ form_field_errors(field) }}
            </div>
        {% endcall %}
    {%- elif field.type == 'RadioField' -%}
        {# note: A cleaner solution would be rendering depending on the widget,
           this is just a hack for now, until I can think of something better #}
        {% call _form_wrap(extra_classes=group_extra_classes, group_class="form-group") %}
            {% for item in field -%}
                <div class="form-check p-0">
                    {{ item(class="form-check-input %s" % label_class)|safe }}
                    {{ item.label(class="form-check-label %s" % field_class)|safe }}
                    {{ form_field_errors(field) }}
                </div>
            {% endfor %}
        {% endcall %}
    {%- elif field.type == 'QuerySelectField'  or  field.type == 'QuerySelectMultipleField' -%}
            {% call _form_wrap(extra_classes=group_extra_classes, group_class="md-form") %}
                {{ field(class="mdb-select colorful-select dropdown-primary md-form %s" % label_class, searchable="Search here..")|safe }}
                {{ form_field_errors(field) }}
            {% endcall %}
    {%- elif field.type == 'SubmitField' -%}
        {# deal with jinja scoping issues? #}
        {% set field_kwargs = kwargs %}

        {# note: same issue as above - should check widget, not field type #}
        {% call _form_wrap(extra_classes=group_extra_classes, group_class="form-group") %}
            <button class="{{ 'btn %s ' % field_class }}"  type="submit" {% for key, arg in field_kwargs.items() %}{{ key }}="{{ arg }}"{% endfor %}>
                {{ field.label.text|safe }}
            </button>
        {% endcall %}

    {%- elif field.type == 'FormField' -%}
        {# note: FormFields are tricky to get right and complex setups requiring
           these are probably beyond the scope of what this macro tries to do.
           the code below ensures that things don't break horribly if we run into
           one, but does not try too hard to get things pretty. #}
        <fieldset>
            <legend>{{ field.label }}</legend>
            {%- for subfield in field %}
                {% if not bootstrap_is_hidden_field(subfield) -%}
                    {{ form_field(subfield, grid_class=grid_class, field_class=field_class, label_class=label_class) }}
                {%- endif %}
            {%- endfor %}
        </fieldset>
    {% else -%}
        {% if field.type == 'TextAreaField' %}
            {% set field_class = "md-textarea %s" % field_class %}
        {% endif %}

        {% if field.type == 'FileField' %}
            {% call _form_wrap(extra_classes=group_extra_classes, group_class="form-group") %}
                <div class="file-field">
                    <div class="z-depth-1-half mb-4">
                        {% if field.has_file() %}
                            <img src="{{ render_uploaded_file_url(filename=field.data) }}" class="img-fluid img-preview">
                        {% else %}
                            <img src="{{ url_for('static', filename='img/placeholder.jpg') }}" class="img-fluid img-preview">
                        {% endif %}

                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="btn btn-mdb-color btn-rounded float-left">
                        <span>{{ field.label.text|safe }}</span>
                        {{field(**kwargs)|safe}}
                      </div>
                    </div>
                </div>
                {{ form_field_errors(field) }}
            {% endcall %}
        {% else %}
            {% call _form_wrap(extra_classes=group_extra_classes) %}
                {{ field(class="form-control %s" % field_class, **kwargs)|safe}}
                {{ field.label(class="control-label %s" % label_class)|safe }}
                {{ form_field_errors(field) }}
            {% endcall %}
        {% endif %}
    {% endif %}
{%- endmacro %}

{%- macro form_field_errors(field) %}
    {%- if field.errors %}
        {%- for error in field.errors %}
            <div class="invalid-feedback d-block">{{error}}</div>
        {%- endfor %}

        {%- if field.description -%}
            <p class="help-block">{{field.description|safe}}</p>
        {%- endif %}
    {%- endif %}
{%- endmacro %}